h1 {
	font-family:  'Roborto', sans-serif;
	font-size: 25px;
	color:  rgb(200, 200, 200);
	}

h2 { 
		font-family:  'Bebas Neue', sans-serif;
	font-size: 20px;
	color: #FF3399;
	border: 2px solid purple;
	margin-left:  15px;
	padding-top: 20px;
	text-align: center;
	}

	

	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

	.coordonnees {
		color:  mediumpurple;
		}

		.rs { 
			color: rebeccapurple;
			}

			img { 
				width: 230px;
				border-radius:  115px;
				}

				.img-circle { 
  				border-radius: 50%;
				}

				.souligner { 
					border-bottom: 1px solid orange;
					}

				.boite {
					font-size:  50px;
					color: black;
				}

				.gr3 {
					grid-column:  1/2;
					grid-row:  2;
					}

					.gr4 {
					grid-column:  2/2;
					grid-row:  1;
					}

					.gr1, .gr2, .gr3, .gr4 {
						border:  1px solid black;
						margin : 2em;
						padding:  2em 1em;
						background-color:  rgb(255, 255, 255);
						border-radius:  10px;
						}

.container {
	width:  700px;
	margin: 40px;
	}



			@media (max-device-width:  540px) {
			/* For a screen < 540px, this CSS will be read */
			.sect_1, .real {
				display:block;
				}
				.xl {
					font-size:  1.2em;
					padding:  10px;
				}

				
}
